<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>agregarCuenta</servlet-name>
        <servlet-class>agregarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetearContrasena</servlet-name>
        <servlet-class>resetearContrasena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCuenta</servlet-name>
        <servlet-class>eliminarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>cerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agregarCuenta</servlet-name>
        <url-pattern>/agregarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetearContrasena</servlet-name>
        <url-pattern>/resetearContrasena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCuenta</servlet-name>
        <url-pattern>/eliminarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
